body {
    background-image: url(https://sky.shorthandstories.com/messi-perfect-ending/assets/ckU1G7EE5Y/ap22352771589324-3677x2451.jpg);
    background-size: 95%;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;

    font-size: 550%;

    color: #00ffff;
    
}

h2 {
    font-family: 'Courier New', Courier, monospace;

    font-size: 38 px;

    font-weight: 100;

    color: #ffd700;

    border: solid 2px #ffffff;

    background: rgba(135, 206, 250, .7);

    padding: 14px;
}
p {
    padding: 14px;
    margin-bottom: 14px;
    border:solid 1px #87cefa;
    background: rgba(255, 255, 255, .8);
    font-family:'Times New Roman', Times, serif, cursive;
    font-size: 35px;
}